.ui-animation{
  width:200px;
  height:60px;
  line-height:60px;
  background:lavenderblush;
  margin:20px auto;
  text-align:center;
}

.fly-in-out{
  width:100px;
  height:60px;
  margin:0 auto;
  line-height:60px;
  text-align:center;
  background:lavender;
}