.ui-animation{
  width:200px;
  height:60px;
  line-height:60px;
  background:lavenderblush;
  margin:20px auto;
  text-align:center;
}

.fly-in-out{
  width:100px;
  height:60px;
  margin:0 auto;
  line-height:60px;
  text-align:center;
  background:lavender;
}

#container{
  padding:2em;
  text-align:left;
}
#container #list{
  padding:1em;
  display:block;
  background:#fff;
  margin-bottom:10px;
}
#container button{
  border:none;
  margin-bottom:20px;
  padding:10px;
  background:blueviolet;
  color:#fff;
}
.col {
  width:30%;
  display:inline-block;
  padding:40px 0;
  color:gray;
}